@font-face {
  font-family: 'HYLIAN';
  src: local('HyliaSerif'),url('../../Assets/HyliaSerif.otf') format('truetype')
}
@font-face {
  font-family: 'nesfont';
  src: local('NES'),url('../../Assets/NES.ttf') format('truetype')
}

.App {
  font-family: 'nesfont'
}
