h2 {
  color: black;
}

.mainpageContainer {
  margin-top: 3vh;
  font-family: 'nesfont';
  padding: 20px;
}

button {
  width: 20vw;
}
.buttonBox {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
/*
.nesDiv {
  width: 40vw;
  padding: 10vw;
  height: inherit;
} */

.dataDiv {
  padding: 10px;
}
.dataContainer {
  height: inherit;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
